@import "tailwindcss";

@font-face {
  font-family: "font1";
  src: url("/fonts/Lausanne-300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "font2";
  src: url("/fonts/Lausanne-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

body {
  background-color: #111;
}
